:root {
    --green-button: #10ee10;
    --yellow-button: #eeee11;
    --red-button: #ee1010;
}

body {
    background-color: #333;
    color: #000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.circle-button {
    border-radius: 50%;
    width: 420px;
    height: 420px;
}

.green {
    background-color: var(--green-button);
}

.red {
    background-color: var(--red-button);
}

.yellow {
    background-color: var(--yellow-button);
}

.circle-text {
    text-align: center;
    transform: translateY(160px);
    font-size: 4em;
}

.window-center {
    padding: 20px;
    margin: auto;
    width: max-content;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo-text {
    font-size: 36px;
    text-align: left;
    width: 70%;
}


